<header>
    <nav class="container py-3 px-5 d-flex justify-content-between align-items-center">
        <a class="brand">
            <img src="assets/images/HUE-LOGO-TPR.png" />
            <div class="d-flex flex-column justify-content-center">
                <h2>Tỉnh Thừa Thiên Huế</h2>
                <span>Số liệu thống kê kinh tế</span>
            </div>
        </a>

        <ul class="d-flex flex-row">
            <li>
                <a class="active">Số liệu Thống kê</a>
            </li>
            <li>
                <a>Biểu đồ tăng trưởng</a>
            </li>
            <li>
                <a>Liên hệ</a>
            </li>
        </ul>
    </nav>

</header>