<div class="row">
    <div class="col-12">
        <button id="addNew" mat-raised-button (click)="openDialog()">Thêm mới</button>
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Ngành</h4>
            </div>
            <div class="card-body">
                <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"> -->
                <table mat-table [dataSource]="field" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element; index as i"> {{i + 1}} </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef> Mã ngành </th>
                        <td mat-cell *matCellDef="let element;index as index">
                            <ng-container *ngIf="index == editIndex;else editInput">
                                <input type="text" [(ngModel)]="currentField.code" />
                            </ng-container>
                            <ng-template #editInput>
                                {{element?.code}}
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Tên ngành </th>
                        <td mat-cell *matCellDef="let element;index as index">
                            <ng-container *ngIf="index == editIndex; else editInput">
                                <input type="text" [(ngModel)]="currentField.name" />
                            </ng-container>
                            <ng-template #editInput>
                                {{element?.name}}
                            </ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Thao tác </th>
                        <td mat-cell *matCellDef="let element; index as index">
                            <ng-container *ngIf="index == editIndex; else acceptButton">
                                <button mat-raised-button (click)="updateField()">Xong</button>
                                <button mat-raised-button (click)="cancelEdit()">Hủy</button>
                            </ng-container>
                            <ng-template #acceptButton>
                                <ng-container *ngIf="editIndex == null">
                                    <button mat-raised-button (click)="toggleEdit(index, element)">Sửa</button>
                                    <button mat-raised-button (click)="deleteField(element.id)">Xóa</button>
                                </ng-container>
                            </ng-template>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- </mat-paginator> -->