<div class="login-text">
    <h1>Please sign in.</h1>

    <span class="subtitle">Welcome to economic statistic system.</span>
</div>

<div class="form-container" >
    <p *ngIf="invalidCredentials">{{ invalidCredentials }}</p>
    <form action="" class="login-form" [formGroup]="form">
        <input type="text" placeholder="Username" formControlName="username">
        <p *ngIf="errors?.username?.required">Yeu cau nhap Username {{userNameErrors.required}}</p>
        <p *ngIf="errors?.username?.minlength">Username qua ngan, yeu cau {{ userNameErrors?.minlength?.requiredLength  }}</p>

        <input type="password" placeholder="Password" formControlName="password">

        <button (click)="onSubmit()">Sign In</button>
    </form>
</div>