<table class="table" (click)="submit()">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Thực hiện cùng kỳ năm trước</th>
            <th scope="col">Thực hiện kỳ báo cáo</th>
            <th scope="col">Kỳ báo cáo so với cùng kỳ năm trước</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>